* {

    margin: 0px;

    overflow-x: hidden;
    overscroll-behavior-y: none;

    box-sizing: border-box;

}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#forkme {

    top: 0px;
    right: 0px;

    width: 150px;
    height: 150px;

    cursor: pointer;
    position: fixed;

    z-index: calc(9e999);

    clip-path: polygon(15px 0px, 60px 0px, 150px 90px, 150px 135px);

}

#compatible,
#incompatible {
    display: none;
}

#compatible {
    width: 100vw;
    height: 100vh;
}

#incompatible {

    width: 50%;

    border: 3px solid red;
    border-radius: 10px;

    margin: 10% auto;
    padding: 30px;

}

#incompatible img#error {

    width: 100px;
    height: 100px;

    margin: auto;
    display:block;

}

#incompatible p#warning,
#incompatible p#warning a {
    margin: 30px 0px auto;
    color: white;
}

div#settings {

    width: 100%;
    height: 50px;

    padding: 10px;

    display: flex;
    align-items: center;

}

div#settings a {
    margin: 5px;
    color: white;
    text-decoration: none;
}

div#settings img#help {

    width: 25px;
    height: 25px;

    cursor: pointer;

}

button#connection {

    margin: 10px;
    padding: 7px;

    outline: none;
    cursor: pointer;

    color: white;
    font-weight: bold;

    border: none;
    border-radius: 5px;

}

button#connection.connect {
    background-color: green;
}

button#connection.disconnect {
    background-color: red;
}

input.control,
select.control {

    width: 65px;
    height: 20px;

    margin-right: 7px;

    outline: none;
    box-shadow: none;

    border-radius: 5px;
    border: 1px solid white;

    color: white;
    background-color: black;

}

#buffer-size.control,
#data-bits.control,
#stop-bits.control {
    width: 50px;
}

#flow-control.control {
    width: 85px;
}

div.headings {
    white-space: nowrap;
}

div.heading {
    width: 50%;
    padding: 10px;
    display: inline-block;
}

h2#input-heading {
    color: cyan;
    font-size: 30px;
    text-align: center;
}

h2#output-heading {
    color: magenta;
    font-size: 30px;
    text-align: center;
}

div#history {
    white-space: nowrap;
}

div#input,
div#output {

    width: calc(50vw - 2px);
    height: calc(100vh - 145px);

    display: inline-block;

    white-space: normal;
    vertical-align: top;

    overflow-x: hidden;
    overflow-y: scroll;

    color: white;

    padding: 10px;

}

div#input p,
div#output p {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

div#input {
    border-top: 1px solid cyan;
    border-right: 1px dashed white;
}

div#input .pointer {
    color: cyan;
}

div#output {
    border-top: 1px solid magenta;
    border-left: 1px dashed white;
}

div#output .pointer {
    color: magenta;
}

div#input .time,
div#output .time {
    color: gray;
}

div#input .info,
div#output .info {
    color: aqua;
}

div#input .success,
div#output .success {
    color: lime;
}

div#input .error,
div#output .error {
    color: red;
}

div#input b.x,
div#output b.x {
    color: #E74C3C;
}

div#input b.y,
div#output b.y {
    color: #27AE60;
}

div#input b.z,
div#output b.z {
    color: #3498DB;
}

div#input b.e,
div#output b.e {
    color: #F1C40F;
}

textarea#prompt {

    width: 100%;

    bottom: 0px;
    padding: 10px;

    position: fixed;

    outline: none;
    box-shadow: none;
    border-style: none;
    border-top: 1px solid white;

    background-color: black;
    caret-color: white;
    color: white;

    cursor: text;
    resize: none;

}